*
{
    margin: 0;
    padding: 0;
}

body
{
    max-width: 60rem;
    text-align: center;
    background-color: #F1F2F2;
}

canvas
{
	width: 100%;
	background-color: #CCC;
}

section
{
    margin: 5rem auto;
}

.numerator
{
    color: #EE4136;
    font-size: 15rem;
    line-height: 0.8em;
}

.denominator
{
    color: #EE4136;
    font-size: 2rem;
    line-height: 1em;
}
